<%- include('./layout/header') %>
    <%- include('./components/navbar') %>
        <main>
            <div class="uk-container bg-white p-md-3 px-0">
                <div class="row">
                    <div class="col-md-9 order-md-2 order-1">
                        <article class="d-block px-md-0 px-3">
                            <div class="about-img float-md-right">
                                <img src="" alt="" data-src="./dist/images/gd.jpg" uk-img="">
                            </div>
                            <p class="text-info mb-5">Thư ngỏ của Tổng giám đốc</p>
                            <p> Xin chào!
                                <br> Tôi là Mr. Shinichi Ozawa, Giám đốc Công ty TNHH SD Việt Nam.</p>
                            <p> Công ty SD Việt Nam thuộc Tập đoàn Sumitomo Electric của Nhật Bản, có vai trò là trụ sở chính
                                tại khu vực miền Bắc Việt Nam. Chúng tôi kinh doanh sản xuất bộ dây dẫn điện cho xe ô tô,
                                điều hòa, ca mera, máy công nghiệp, máy nông nghiệp... Tập đoàn Sumitono Electric hoạt động
                                kinh doan quy mô toàn cầu tại 100 lãnh thổ và quốc gia trên thế giới với 500 nhà máy và chi
                                nhánh lớn nhỏ. Trong tất cả các cơ sở sản xuất kinh doanh của tập đoàn, Công ty SD Việt Nam
                                là một trong những nhà máy đứng đầu về mặt chất lượng, giá cả sản phẩm và xuất hàng luôn
                                đúng thời hạn với khách hàng.</p>
                            <p>Vì vậy, Công ty chúng tôi chắc chắn sẽ phát triển mạnh hơn trong thời gian tới. Để Công ty có
                                sự phát triển bền vững, Công ty cần tuyển dụng công nhân viên ưu tú và chúng tôi cũng đang
                                cố gắng để nâng cao năng lực làm việc cho công nhân viên trong công ty. Chúng tôi cũng luôn
                                nỗ lực để có phúc lợi tốt nhất, thường xuyên tổ chức các sự kiện giải trí để tạo môi trường
                                làm việc thoải mái, vui vẻ cho tất cả công nhân viên.
                            </p>
                            <p>
                                Hãy cùng làm việc với chúng tôi!
                            </p>
                        </article>


                        <div class="border border-muted py-1 mb-3">
                            <h2 class="uk-h5 text-uppercase my-0 gh-header">
                                sản phẩm mới
                            </h2>
                            <div class="gh-body d-md-block px-3">
                                <div class="row">
                                    <% for(let i = 1; i < 10; i++) {%>
                                        <a href="#" class="col-md-4 item-show">
                                            <div class="item-img d-block">
                                                <img src="" alt="" data-src="./dist/images/product/p-1.jpg" uk-img="">
                                            </div>
                                            <h3 class="uk-h5 my-0 item-title">Sản phẩm
                                                <%=i %>
                                            </h3>
                                            <h4 class="uk-h5 my-0 item-price">Giá: Liên hệ</h4>
                                        </a>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 order-md-1 order-2">
                        <%- include('./components/widget.ejs') %>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layout/footer') %>